#home {
  background-image: url(/images/E.A.png);
}

#progress-1 {
  width: 90%;
}

#progress-2 {
  width: 95%;
}
#progress-3 {
  width: 90%;
}

#progress-4 {
  width: 85%;
}
#progress-5 {
  width: 85%;
}
#progress-6 {
  width: 90%;
}
#progress-7 {
  width: 70%;
}
